*{
    padding: 0px;
    margin: 0px;
    font-size: large;
    background-color: #071A28;
    color: aliceblue;
    font-family: 'Courier New', Courier, monospace;
}
.landingpage{
    padding-top: 20px;
    padding-bottom: 20px;
    background-image: url('https://cdn.codechef.com/download/Contest+images/ANTEST/landing+page.jpg');
}
.heading{
    background-color: transparent;
    padding: 10px;
    padding-bottom: 150px;
    text-align: center;
    color: white;  
    font-size: 80px;
    font-family: times;
}
.quote{
    text-align: right;
    font-size: 60px;
    font-family: cursive;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-right: 20px;
    color: white;
    background-color: transparent;
}
.headingPara{
    text-align: right;
    color: white;
    background-color: transparent;
    padding-top: 30px;
    padding-left: 30px;
    padding-right: 20px;

}
.types{
    text-align: center;
    padding-top: 100px;
    padding-bottom: 30px;
}
.feature{
    border-collapse: collapse;
    margin: auto;
    margin-bottom: 60px;
    width: 70%;
}
.imgtype{
   text-align: center;
}
th,td{
    width: 150px;
    padding:10px;
    text-align: left;
    border: 1px solid #f70303;
}
th{
    background-color: #f70303;
}
ul{
    background-color: transparent;
    margin-left: 30px;
}
.booknow{
    text-align: center;
    text-decoration: underline;
    padding-top: 30px;
    padding-bottom: 50px;
}
footer{
    text-align: center;
    background-color: #4F2D18;
    padding-top: 20px;
    padding-bottom: 20px;
}
#footpara{
    color: white;
    background-color: transparent;
    padding-right: 50px;
}